awsebcli==3.14.2
botocore==1.10.58
cement==2.8.2
colorama==0.3.9
Django==2.0.7
django-cors-headers==2.3.0
django-debug-toolbar==1.9.1
django-filter==2.0.0
django-redis==4.9.0
django-rest-auth==0.9.3
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docutils==0.14
jmespath==0.9.3
pathspec==0.5.5
psycopg2==2.7.5
PyJWT==1.6.4
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.12
redis==2.10.6
rest-framework-cache==0.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.2.4
tabulate==0.7.5
termcolor==1.1.0
