option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MyToDo.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MyToDo/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []

container_commands:

  01_makemigrations:
    command: "python manage.py makemigrations users tasks"
    leader_only: true

  02_migrate:
    command: "python manage.py migrate"
    leader_only: true

  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
	
  04_createsu:
    command: "python manage.py create_user admini jjK8#w68 1"