option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MyToDo.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MyToDo/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []

container_commands:

  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  02_makemigrations:
    command: "python manage.py makemigrations users tasks"
    leader_only: true

  03_migrate:
    command: "python manage.py migrate"
    leader_only: true

  04_collectstatic:
    command: "python manage.py collectstatic --noinput"

  05_createsu:
    command: "python manage.py create_user <username> <password> <email> <1 - superuser or empty - normal user>"